td {
  width: 120px;
  height: 120px;
  border: 3px solid black;
  font-size: 60px;
  text-align: center;
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(https://media.discordapp.net/attachments/770996457972039732/1434660025946865684/rm301-gift-01-c.jpg?ex=690922c4&is=6907d144&hm=1512b8240a854e73940de032e5803d8a450cc30c8c478dc02b99c8b15700e893&=&format=webp&width=876&height=583);
  background-size: cover;
  background-position: ceneter;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
